.input__options {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.input__option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 6px;
}

.input__option:hover {
    background-color: #3c63820e;
}

.input__option p {
    padding: 0 3px;
    font-size: 13.5px;
    font-weight: bold;
    color: #0a3d62;
}