.header {
    display: flex;
    padding: 10px 0;
    position: sticky;
    top: 0;
    justify-content: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    z-index: 999;
    background-color: #fff;
}

.container {
    max-width: 1140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}

.logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    object-fit: contain;
}

.header__search {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: rgba(60, 99, 130, 0.05);
    border-radius: 5px;
}

.search__icon {
    color: grey;
    cursor: pointer;
}

.header__search > input {
    outline: none;
    border: none;
    background: none;
    padding-left: 5px; 
    width: 200px;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
}